.search-layout{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.search-results{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 16px;

  .search-result{
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
    cursor: pointer;
  }
}

@media (min-width: 567px) {
  .search-results{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 967px) {
  .search-results{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .search-results{
    grid-template-columns: repeat(4, 1fr);
  }
}